// Specific CSS for your home-page

.banner {
  height: 100vh;
  background-size: cover !important;
  opacity: 0.4;
  display: flex;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-position: center;
  background-color: white !important;
}

.how-does-it-work {
  position: absolute;
  top: 100vh;
  left: 0vw;
  text-align: center;
  font-size: 19px;
  color: black;
  background-color: white;
  width: 100vw;
  padding-right: 12vw;
  padding-left: 12vw;
  font-weight: lighter;
}

.banner-title {
  position: absolute;
  top: 42vh;
  left: 0vw;
  text-align: center;
}

.banner-title h1 {
  color: white;
  background-color: #B3FF00;
  width: 100vw;
  font-size: 50px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}

.banner-paragraph {
  position: relative;
  top: -31vh;
}

.banner-paragraph p {
  font-size: 25px;
  font-weight: lighter;
  color: black;
  opacity: 0.6;
  margin-bottom: 30px;
}


