// h1 {
//   text-align: center;
// }
.match-container {
  display: flex;
  height: 25vh;
  background-color: #F7F7F7;
  margin-bottom: 15px;
  margin-right: 10px;
  margin-left: 10px;
}

.left-image, .right-content, .right-content-pending {
  width: 50vw;
}

.image-accepted-match {
  height: 100% !important;
  width: 90% !important;
  float: right;
}

.right-content {
  text-align: center;
  padding-top: 25px;
  font-size: 16px;
}

.right-content-pending {
  text-align: center;
  padding-top: 25px;
  font-size: 16px;
}

.username-right-content {
  color: black;
  text-transform: uppercase;
  /* font-weight: bold; */
  margin-top: 10px;
  margin-bottom: 20px;
  &:active {
    text-decoration: none;
    color: #B3FF00;
  }
}

.btn-send-instructions {
  text-decoration: none;
  border: 1px solid #B3FF00;
  width: 40vw;
  margin: 57px auto;
  color: black;
}

.accept, .decline {
  margin: 10px auto;
}
