.interestbar {
  // width: 55vh;
  padding-left: 25px;
  border-color: #B3FF00;
  border: 2px solid #B3FF00;
  text-align: center;
  background: white;
  color: #111111;
  // color: #B3FF00;
  margin-bottom: 5px;
}

.username-detail {
      font-weight: bold;
      font-size: 14px;
      margin-left: -29px;
}
