<div class="center">
  <div class="navbar-main">
    <%= link_to '/matches' do%>
    <i class="fas fa-history history" ></i>
    <% end %>
  </div>
  <div >
    <%= link_to '/pages/index' do %>
    <%= image_tag "logo-closer.svg", class: "logo" %>
    <% end %>
  </div>
  <div>
    <%= link_to "/profile/#{current_user.id}", class: "profile" do %>
    <i class="far fa-user"></i>
    <% end %>
  </div>
</div>

<style>
.fa-user {
  text-decoration: none;
  font-size: 24px;
}
.history {

}
.logo {
  width: 6vh;
}
</style>
