<div class="center">
  <div class="navbar-main">
    <%= link_to('Matches','/matches',class:"btn btn-warning") %>
  </div>
  <div>
    <%= link_to('Discover','/pages/index',class:"btn btn-warning") %>
  </div>
  <div>
    <%= link_to('My profile',"/profile/#{current_user.id}",class:"btn btn-warning") %>
  </div>
</div>

