<div class="center">
  <div class="navbar-main">
    <%= link_to('Matches','/matches',class:"btn btn-primary") %>
  </div>
  <div>
    <%= link_to('Discover','/pages',class:"btn btn-primary") %>
  </div>
  <div>
    <%= link_to('My profile','/profile',class:"btn btn-primary") %>
  </div>
</div>

