<div class="center">
  <div class="navbar-main">
    <%= link_to matches_path do%>
    <i class="fas fa-history history" ></i>
    <% end %>
  </div>
  <div>
    <%= link_to profiles_path do %>
    <%= image_tag "logo-closer.svg", class: "logo" %>
    <p class="text-center">DISCOVER</p>
    <% end %>
  </div>
  <div>
    <%= link_to "/profiles/#{current_user.id}", class: "profile" do %>
    <i class="far fa-user user-bar"></i>
    <% end %>
  </div>
</div>

<style>
.user-bar {
  text-decoration: none;
  font-size: 40px;
  color: grey;
}
.history {
  font-size: 40px;
  color: grey;
}
.logo {
  width: 6vh;
  margin: 12px;
}
</style>
