<div class="banner" style="background-image: url('<%= asset_path 'logo-closer-fine.svg'%> ')">
</div>

<div class="how-does-it-work">
  <p>
    Match with a person who is close to you, and whom you share interests with.
  </p>
</div>

<div class="banner-title">
  <h1>CLOSER</h1>
</div>

<div class="banner-paragraph">
  <p>RE-CONNECTING PEOPLE</p>
</div>



<% unless user_signed_in? %>

<div class="center">
  <div class="sign-btn ourbtn">
    <%= link_to('SIGN UP',new_user_registration_path,class: "btn btn-primary ourbtn") %>
  </div>
  <div class="log-btn ourbtn">
    <%= link_to('LOG IN',new_user_session_path,class: "btn btn-primary ourbtn") %>
  </div>
</div>

<% end %>
