<div>
  <div>
    <%= image_tag 'joesph-eliezer-happy-people.jpg', class: "image" %>
  </div>
</div>


<div class="center">
  <div>
    <h1>CLOSER</h1>
  </div>
</div>

<div class="center">
  <div>
    <p>reconnecting people</p>
  </div>
</div>

<div class="center">
  <div>
    <%= link_to('Sign Up',new_user_registration_path,class:"btn btn-primary") %>
  </div>
  <div>
    <%= link_to('Log In',new_user_session_path,class:"btn btn-primary") %>
  </div>
</div>
