<!-- <h1>Matches</h1>

          <h2> <% @matches.each do |lol| %></h2>
<%= cl_image_tag lol.from_user.photo
 %>        <a class="card-link" href="/profile/<%= lol.from_user.id %>" ><%= lol.from_user.username %></a>
          <% end %>
 -->
