
.ourbtn {
  border-color: #B3FF00 !important;
}

.ourbtn:hover {
  background-color: #8BD611 !important;
  border-color: #B3FF00 !important;
  color: black !important;

}

.ourform {
  border-color: grey;
}

.ourform:hover{
  border-color: #B3FF00 !important;
}

input, textarea {
outline: none;
box-shadow:none !important;
border:1px solid #ccc !important;
}

.btn {
  color: black;
  // padding: 10px 15px;
  font-weight: lighter;
  background: #B3FF00;
  border-color: #B3FF00 !important;
  width: 30vw;
  border-radius: 2px;
}

.log-btn {
  position: absolute;
  top: 78vh;
  left: 35vw;
  display: flex;
  justify-content: space-around;
}

.sign-btn {
  position: absolute;
  top: 88vh;
  left: 35vw;
  display: flex;
  justify-content: space-around;
}

.sign-btn .btn {
  background-color: white !important;
  border-width: 2px;
}
